body {
  background-color: paleturquoise;
}
a {
  text-decoration-style: none;
  text-decoration-line: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.teal_theme {
  overflow: hidden;
  background-color: lightskyblue;
  font-family: Arial;
  font-weight: 400;
}
.teal_theme a {
  float: left;
  font-size: 18pt;
  color: darkgray;
  text-shadow: 1px 1px black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
.teal_theme a:hover, .drops:hover .down_list {
  background-color: deepskyblue;
  color: darkcyan;
  font-size: 21pt;
}
.drops {
  float: left;
  overflow: hidden;
}
.drops .down_list {
  font-size: 18pt; 
  border: none;
  outline: none;
  color: darkcyan;
  text-shadow: 2px 1px darkslategray;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.down_list-content {
  display: none;
  position: absolute;
  background-color: deepskyblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px darkolivegreen;
  z-index: 1;
}
.down_list-content a {
  float: none;
  color: paleturquoise;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.down_list-content a:hover {
  background-color: lightseagreen;
  color: darkslategrey;
}
.drops:hover .down_list-content {
  display: block;
}
.dl_tan {
  background-color: wheat;
  border: 2px solid peru;
  border-collapse: all;
  color: lightseagreen;
  margin: 10px;
  padding: 5px;
  margin-top: 30px;
  text-shadow: 1px 1px midnightblue;
  font-size: 19pt;
  max-width: 20%;
  min-width: 12%;
  overflow: auto;
  font-family: arial;
}
dd {
  font-size: 16pt;
}
.blue_box {
  background-color: wheat;
  border: 2px solid peru;
  border-collapse: all;
  color: lightseagreen;
  margin: 10px;
  padding: 5px;
  margin-top: 30px;
  text-shadow: 1px 1px midnightblue;
  font-size: 19pt;
  max-width: 32%;
  min-width: 21%;
  overflow: auto;
  font-family: arial;
}
